a {
    display: inline-flex;
    text-decoration: none;
    color: black;
    font-weight: 300;
}

li {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
}

.NavBar {
    position: absolute;
    top: 0;
    width: 100%;
    
}

.NavBar {
    background: #826F66;
    height: 80px;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar a:hover {
    border-bottom: 5px solid #3A3845;
}



.NavBar .MobileNavigation {
    display: none;
}

@media (max-width: 990px) {
    .NavBar .Navigation {
        display: none;
    }

    .NavBar .MobileNavigation {
        display: flex;
        background-color: #F7CCAC;
        align-items: center;
    }

}

.hamburger {
    height: 40px;
    width: 40px;
    color: black;
    position: absolute;
    right: 3%;
    cursor: pointer;
}

  .Navbar .MobileNavigation .hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
}

